<h2 class="text-center mb-3">マイページ</h2>
<div class="row">

  <div class="col-xl-9">

    <!--ユーザーデータ-->
    <div class="row">
      <table class="table table-sm table-borderless border border-dark mx-auto" style="width: 360px">
        <thead></thead>
        <tbody>

          <tr class="border-bottom border-dark">
            <th class="text-center" colspan="2">ユーザー情報</th>
          </tr>

          <tr>
            <td>名前</td>
            <td><%= current_customer.name %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>

          <tr>
            <td>公開ステータス</td>
            <td><%= current_customer.is_published ? '公開' : '非公開' %></td>
          </tr>

          <tr>
            <td class="text-center" colspan="2"><%= link_to "変更", customers_edit_path, class: 'btn btn-sm btn-success mx-2 px-2' %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--日記表示枠-->
    <div class="diary border border-dark rounded-lg mx-auto pb-2">
      <h3 class="text-center border-bottom border-dark py-2">日記</h3>

      <div class="row mx-1">
        <div class="col-lg-6">

          <!--日付表示・変更フォーム-->
          <div class="mx-auto" style="width: 225px;">

            <!--日付入力-->
            <%= form_with url: customer_path, method: :get, local: true do |f|%>
              <div class="input-group  mx-auto" style="max-width: 810px">

                <!--表示したい日付を入力(デフォルト値→当日)-->
                <%= f.date_field :date, value: @date, class: 'form-control' %>
                <span class="input-group-btn input-group-append">
                  <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
                    表示
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>

          <% if flash[:notice] %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>

          <!--朝食一覧-->
          <div class="mx-auto" style="max-width: 385px;">
            朝食
            <%= render "public/diaries/meals",
              meals: @breakfasts,
              total_energy: @total_energy,
              total_protein: @total_protein,
              total_fat: @total_fat,
              total_carb: @total_carb,
              total_salt_equivalent: @total_salt_equivalent,
              total_price: @total_price %>
          </div>

          <!--昼食一覧-->
          <div class="mx-auto" style="max-width: 385px;">
            昼食
            <%= render "public/diaries/meals",
              meals: @lunches,
              total_energy: @total_energy,
              total_protein: @total_protein,
              total_fat: @total_fat,
              total_carb: @total_carb,
              total_salt_equivalent: @total_salt_equivalent,
              total_price: @total_price %>
          </div>

          <!--夕食一覧-->
          <div class="mx-auto" style="max-width: 385px;">
            夕食
            <%= render "public/diaries/meals",
            meals: @dinners,
            total_energy: @total_energy,
            total_protein: @total_protein,
            total_fat: @total_fat,
            total_carb: @total_carb,
            total_salt_equivalent: @total_salt_equivalent,
            total_price: @total_price %>
          </div>

          <!--間食・その他一覧-->
          <div class="mx-auto" style="max-width: 385px;">
            間食・その他
            <%= render "public/diaries/meals",
              meals: @others,
              total_energy: @total_energy,
              total_protein: @total_protein,
              total_fat: @total_fat,
              total_carb: @total_carb,
              total_salt_equivalent: @total_salt_equivalent,
              total_price: @total_price %>
          </div>


          <!--栄養摂取量グラフ-->
          <div>
            <!--一日の全食事の栄養摂取量合算-->
            <% @meals.each do |meal| %>
              <% @total_energy += meal.subtotal_energy %>
              <% @total_protein += meal.subtotal_protein %>
              <% @total_fat += meal.subtotal_fat %>
              <% @total_carb += meal.subtotal_carb %>
              <% @total_salt_equivalent += meal.subtotal_salt_equivalent %>
            <% end %>

            <!--グラフ代入値の決定→各栄養素の一日の必要量に対する摂取割合(摂取量/必要量)-->
            <% @chart_energy = @total_energy / Settings.requirement[:energy] %>
            <% @chart_protein = @total_protein / Settings.requirement[:protein] %>
            <% @chart_fat = @total_fat / Settings.requirement[:fat] %>
            <% @chart_carb = @total_carb / Settings.requirement[:carb] %>
            <% @chart_salt_equivalent = @total_salt_equivalent / Settings.requirement[:salt] %>
          </div>

          <!--グラフの表示-->
          <%= render "layouts/nutrition_graph",
            date: @date,
            chart_energy: @chart_energy,
            chart_protein: @chart_protein,
            chart_fat: @chart_fat,
            chart_carb: @chart_carb,
            chart_salt_equivalent: @chart_salt_equivalent %>
        </div>

        <div class="col-lg-6 mx-auto">

          <% if @diary %>
            <%= form_with model: @diary, url: diary_path(@diary.id), class: 'mx-auto', method: :patch do |f| %>
              <div class="mx-2">
                体重記録
              </div>

              <div class="d-flex align-items-center">
                <!--<%= f.hidden_field :id, :value => @diary.id %>-->
                <%= f.text_field :body_weight, value: @diary.body_weight, class: 'text-right mx-2', style: 'width: 60px' %>
                <div>kg</div>
              </div>

              <div class="mx-2">日記</div>

              <%= f.text_area :body, class: 'mx-2', style: 'width: 100%;', rows: '10' %>

              <div>
                <%= f.submit "変更する", class: 'btn btn-secondary btn-sm mx-2 px-2', style: 'width: 80px' %>
              </div>
            <% end %>
          <% else %>
            <%= form_with model: Diary.new, url: diaries_path do |f| %>
              <%= f.hidden_field :date, :value => @date %>
              <div class="mx-2">
                体重記録
              </div>

              <div class="d-flex align-items-center">
                <%= f.text_field :body_weight, placeholder: "", class: 'text-right mx-2', style: 'width: 60px' %>
                <div>kg</div>
              </div>

              <div class="mx-2">
                日記
              </div>

              <%= f.text_area :body, class: 'mx-2 h', style: 'width: 310px;', rows: '10' %>

              <div>
                <%= f.submit "日記をつける", class: 'btn btn-secondary btn-sm mx-2 px-2', style: 'width: 100px' %>
              </div>
            <% end %>
          <% end %>

          <!--グラフの表示-->
          <div class="mt-auto mb-0">
            <%= render "layouts/weight_graph",
              date: @date,
              days: @days,
              body_weights: @body_weights %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <div>

      <!--自身の投稿一覧-->
      <table class="table table-sm border-bottom my-3">
        <thead>
          <tr><th colspan="2">マイレシピ</th></tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>


            <tr>
              <td>
                <%= link_to recipe_path(recipe.id), class: '' do %>
                  <%= recipe.name %>
                <% end %>
              </td>

              <td>
                <div>
                  <%= recipe.favorites.count %>
                  <span style="color:green;">❤︎</span>
                </div>
              </td>
            </tr>

            <tr>

            </tr>
          <% end %>
        </tbody>
      </table>

      <!--お気に入りのレシピ-->
      <table class="table table-sm border-bottom my-3">
        <thead>
          <tr><th>お気に入りのレシピ</th></tr>
        </thead>
        <tbody>
          <% @favorite_recipes.each do |recipe| %>

            <!--1列目=>レシピ名、エネルギー量-->
            <tr>
              <td>
                <%= link_to recipe_path(recipe.id), class: '' do %>
                  <%= recipe.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>