<%= flash[:notice] %>
<h2 class="text-center mb-3">マイページ</h2>
<div class="row">

<div class="col-xl-8">

  <!--ユーザーデータ-->

  <div class="row">
    <table class="table table-sm table-borderless border border-dark mx-auto" style="width: 360px">
      <thead></thead>
      <tbody>

        <tr class="border-bottom border-dark">
          <th class="text-center" colspan="2">ユーザー情報</th>
        </tr>

        <tr>
          <td>名前</td>
          <td><%= current_customer.name %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= current_customer.email %></td>
        </tr>

        <tr>
          <td>公開ステータス</td>
          <td><%= current_customer.is_published ? '公開' : '非公開' %></td>
        </tr>

        <tr>
          <td class="text-center" colspan="2"><%= link_to "変更", customers_edit_path, class: 'btn btn-sm btn-success mx-2 px-2' %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="border border-dark rounded-lg mx-auto pb-2">
  <h3 class="text-center border-bottom border-dark py-2">日記</h3>
  <div class="row mx-1">
  <div class="col-md-6 border-right">

  <div style="width: 225px;">
    <%= form_with url: customer_path, method: :get, local: true do |f|%>
      <div class="input-group  mx-auto" style="max-width: 810px">
        <%= f.date_field :date, value: @date, class: 'form-control' %>
        <span class="input-group-btn input-group-append">
          <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
            <i class="fas fa-search"></i>表示</submit>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>

    <!--朝食-->
    <div>
      朝食
      <!--<%= Settings.customer[:required_energy] %>-->
      <%= render "public/diaries/meals", meals: @breakfasts %>
    </div>

    <!--昼食-->
    <div>
      昼食
      <%= render "public/diaries/meals", meals: @lunches %>
    </div>

    <!--夕食-->
    <div>
      夕食
      <%= render "public/diaries/meals", meals: @dinners %>
    </div>

    <!--間食・その他-->
    <div>
      間食・その他
      <%= render "public/diaries/meals", meals: @others %>
    </div>

    <!--栄養グラフ-->
    <div>

      <% @chart_energy = @total_energy / Settings.customer[:required_energy] %><br>
      <% @chart_protein = @total_protein / Settings.customer[:required_protein] %><br>
      <% @chart_fat = @total_fat / Settings.customer[:required_fat] %><br>
      <% @chart_carb = @total_carb / Settings.customer[:required_carb] %><br>
      <% @chart_salt_equivalent = @total_salt_equivalent / Settings.customer[:required_salt_equivalent] %><br>


      <canvas id="myChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['カロリー', 'たんぱく質', '脂質', '炭水化物', '塩分'],
            datasets: [{
              label: '# of Votes',
              data: [<%= @chart_energy %>, <%= @chart_protein %>, <%= @chart_fat %>, <%= @chart_carb %>, <%= @chart_salt_equivalent %>],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
              ],
              borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
</script>

    </div>
  </div>
  <div class="col-md-6">
    <% if @diary %>
      <%= form_with model: @diary, url: diary_path(@diary.id), method: :patch do |f| %>
      <div>
        体重記録
        </div>
          <%= f.text_field :body_weight, value: @diary.body_weight %>
      <div>
        メモ
        </div>
      <%= f.text_area :body %>
      <%= f.submit "使う", class: 'btn btn-secondary btn-sm mx-2 px-2' %>
      <% end %>
    <% else %>
      <%= form_with model: Diary.new, url: diaries_path do |f| %>
        <%= f.hidden_field :date, :value => @date %>
           <div>
        体重記録
        </div>
          <%= f.text_field :body_weight, placeholder: "体重を記録しましょう" %>
      <div>
        メモ
        </div>
      <%= f.text_area :body %>
      <%= f.submit "使う", class: 'btn btn-secondary btn-sm mx-2 px-2' %>
    <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

  <div class="col-xl-4">
    <div>
      <!--自身の投稿一覧-->
      <table class="table">
        <tbody>
          <% @recipes.each do |recipe| %>
            <!--栄養素、値段の計算-->
            <div>
              <% recipe.recipe_details.each do |recipe_detail| %>
                <% @total_energy += recipe_detail.subtotal_energy %>
                <% @total_protein += recipe_detail.subtotal_protein %>
                <% @total_fat += recipe_detail.subtotal_fat %>
                <% @total_carb += recipe_detail.subtotal_carb %>
                <% @total_salt_equivalent += recipe_detail.subtotal_salt_equivalent %>
                <% @price = recipe_detail.food.prices.find_by(customer_id: current_customer.id) %>
                <% if @price %>
                  <% @total_price += @price.food_price * recipe_detail.amount / 100 %>
                <% end %>
              <% end %>
            </div>

            <!--1列目=>レシピ名、エネルギー量-->
            <tr>
              <td><%= recipe.name %><br>
                E:<%= @total_energy.round(1) %>
                P:<%= @total_protein.round(1) %>
                F:<%= @total_fat.round(1) %>
                C:<%= @total_carb.round(1) %>
              </td>
              <td><%= @total_price.round(0) %>円</td>
            </tr>

            <tr>
              <td colspan="2">

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!--お気に入りのレシピ-->
      <table class="table">
        <tbody>
          <% @favorite_recipes.each do |recipe| %>
            <!--栄養素、値段の計算-->
            <div>
              <% recipe.recipe_details.each do |recipe_detail| %>
                <% @total_energy += recipe_detail.subtotal_energy %>
                <% @total_protein += recipe_detail.subtotal_protein %>
                <% @total_fat += recipe_detail.subtotal_fat %>
                <% @total_carb += recipe_detail.subtotal_carb %>
                <% @total_salt_equivalent += recipe_detail.subtotal_salt_equivalent %>
                <% @price = recipe_detail.food.prices.find_by(customer_id: current_customer.id) %>
                <% @total_price += @price.food_price * recipe_detail.amount / 100 %>
              <% end %>
            </div>

            <!--1列目=>レシピ名、エネルギー量-->
            <tr>
              <td><%= recipe.name %><br>
                E:<%= @total_energy.round(1) %>
                P:<%= @total_protein.round(1) %>
                F:<%= @total_fat.round(1) %>
                C:<%= @total_carb.round(1) %>
              </td>
              <td><%= @total_price.round(0) %>円</td>
            </tr>

            <tr>
              <td colspan="2">

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>