<%= flash[:notice] %>
<h2 class="text-center mb-3">マイページ</h2>
<div class="row">

  <div class="col-xl-9">

    <!--ユーザーデータ-->
    <div class="row">
      <table class="table table-sm table-borderless border border-dark mx-auto" style="width: 360px">
        <thead></thead>
        <tbody>

          <tr class="border-bottom border-dark">
            <th class="text-center" colspan="2">ユーザー情報</th>
          </tr>

          <tr>
            <td>名前</td>
            <td><%= current_customer.name %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= current_customer.email %></td>
          </tr>

          <tr>
            <td>公開ステータス</td>
            <td><%= current_customer.is_published ? '公開' : '非公開' %></td>
          </tr>

          <tr>
            <td class="text-center" colspan="2"><%= link_to "変更", customers_edit_path, class: 'btn btn-sm btn-success mx-2 px-2' %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="border border-dark rounded-lg mx-auto pb-2">
      <h3 class="text-center border-bottom border-dark py-2">日記</h3>
      <div class="row mx-1">
        <div class="col-lg-6">

          <div class="mx-auto" style="width: 225px;">
            <%= form_with url: customer_path, method: :get, local: true do |f|%>
              <div class="input-group  mx-auto" style="max-width: 810px">
                <%= f.date_field :date, value: @date, class: 'form-control' %>
                <span class="input-group-btn input-group-append">
                  <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
                    <i class="fas fa-search"></i>表示</submit>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>


          <!--朝食-->
          <div class="mx-auto" style="max-width: 385px;">
            朝食
            <%= render "public/diaries/meals", meals: @breakfasts, total_energy: @total_energy, total_protein: @total_protein, total_fat: @total_fat, total_carb: @total_carb, total_salt_equivalent: @total_salt_equivalent, total_price: @total_price %>
          </div>

          <!--昼食-->
          <div class="mx-auto" style="max-width: 385px;">
            昼食
            <%= render "public/diaries/meals", meals: @lunches, total_energy: @total_energy, total_protein: @total_protein, total_fat: @total_fat, total_carb: @total_carb, total_salt_equivalent: @total_salt_equivalent, total_price: @total_price %>
          </div>

          <!--夕食-->
          <div class="mx-auto" style="max-width: 385px;">
            夕食
            <%= render "public/diaries/meals", meals: @dinners, total_energy: @total_energy, total_protein: @total_protein, total_fat: @total_fat, total_carb: @total_carb, total_salt_equivalent: @total_salt_equivalent, total_price: @total_price %>
          </div>

          <!--間食・その他-->
          <div class="mx-auto" style="max-width: 385px;">
            間食・その他
            <%= render "public/diaries/meals", meals: @others, total_energy: @total_energy, total_protein: @total_protein, total_fat: @total_fat, total_carb: @total_carb, total_salt_equivalent: @total_salt_equivalent, total_price: @total_price %>
          </div>


          <!--栄養グラフ-->
          <!--栄養価計算-->
          <div>
            <!--全食事の摂取量合算-->
            <% @meals.each do |meal| %>
              <% @total_energy += meal.subtotal_energy %>
              <% @total_protein += meal.subtotal_protein %>
              <% @total_fat += meal.subtotal_fat %>
              <% @total_carb += meal.subtotal_carb %>
              <% @total_salt_equivalent += meal.subtotal_salt_equivalent %>
            <% end %>

            <!--グラフ代入値の決定→各栄養素の一日の必要量に対する摂取割合(摂取量/必要量)-->
            <% @chart_energy = @total_energy / Settings.requirement[:energy] %>
            <% @chart_protein = @total_protein / Settings.requirement[:protein] %>
            <% @chart_fat = @total_fat / Settings.requirement[:fat] %>
            <% @chart_carb = @total_carb / Settings.requirement[:carb] %>
            <% @chart_salt_equivalent = @total_salt_equivalent / Settings.requirement[:salt] %>
          </div>

          <canvas id="myChart"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [
                  'カロリー',
                  'たんぱく質',
                  '脂質',
                  '炭水化物',
                  '塩分'
                ],
                datasets: [{
                  label: '<%= @date %>の摂取量 / 一日の必要',
                  data: [
                    <%= @chart_energy %>,
                    <%= @chart_protein %>,
                    <%= @chart_fat %>,
                    <%= @chart_carb %>,
                    <%= @chart_salt_equivalent %>
                  ],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                  ],
                  clip: {left: 0, top: false, right: -2, bottom: 0},
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                  ],
                    borderWidth: 1
                }]
              },
              options: {
                scales: {
                  x: {
                    id: 'nutrition'
                  },
                  y: {
                    id: 'ratio',
                    beginAtZero: true,
                    suggestedMax: 1
                  }
                },


                annotation: {
                  annotations: [{
                    type: 'line', // 線分を指定
                    drawTime: 'afterDatasetsDraw',
                    id: 'a-line-1', // 線のid名を指定（他の線と区別するため）
                    mode: 'horizontal', // 水平を指定
                    scaleID: 'ratio', // 基準とする軸のid名
                    value: 1, // 引きたい線の数値（始点）
                    endValue: 1, // 引きたい線の数値（終点）
                    borderColor: 'red', // 線の色
                    borderWidth: 3, // 線の幅（太さ）
                    borderDash: [2, 2],
                    borderDashOffset: 1,
                    label: { // ラベルの設定
                      backgroundColor: 'rgba(255,255,255,0.8)',
                      bordercolor: 'rgba(200,60,60,0.8)',
                      borderwidth: 2,
                      fontSize: 10,
                      fontStyle: 'bold',
                      fontColor: 'rgba(200,60,60,0.8)',
                      xPadding: 10,
                      yPadding: 10,
                      cornerRadius: 3,
                      position: 'left',
                      xAdjust: 0,
                      yAdjust: 0,
                      enabled: true,
                      content: '必要値'
                    }
                  }]
                }
              }
            });
          </script>
        </div>

        <div class="col-lg-6 mx-auto">
          <% if @diary %>
            <%= form_with model: @diary, url: diary_path(@diary.id), method: :patch do |f| %>
              <div class="mx-2">
                体重記録
              </div>

              <div class="d-flex align-items-center">
                <%= f.text_field :body_weight, value: @diary.body_weight, class: 'text-right mx-2', style: 'width: 60px' %>
                <div>kg</div>
              </div>

              <div class="mx-2">
                日記
              </div>

              <%= f.text_area :body, class: 'mx-2', style: 'width: 310px;', rows: '10' %>

              <div>
                <%= f.submit "変更する", class: 'btn btn-secondary btn-sm mx-2 px-2', style: 'width: 80px' %>
              </div>
            <% end %>
          <% else %>
            <%= form_with model: Diary.new, url: diaries_path do |f| %>
              <%= f.hidden_field :date, :value => @date %>
              <div class="mx-2">
                体重記録
              </div>

              <div class="d-flex align-items-center">
                <%= f.text_field :body_weight, placeholder: "", class: 'text-right mx-2', style: 'width: 60px' %>
                <div>kg</div>
              </div>

              <div class="mx-2">
                日記
              </div>

              <%= f.text_area :body, class: 'mx-2', style: 'width: 310px;', rows: '10' %>

              <div>
                <%= f.submit "日記をつける", class: 'btn btn-secondary btn-sm mx-2 px-2', style: 'width: 100px' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <div>

      <!--自身の投稿一覧-->
      <table class="table table-sm border-bottom my-3">
        <thead>
          <tr><th colspan="2">マイレシピ</th></tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>


            <tr>
              <td>
                <%= link_to recipe_path(recipe.id), class: '' do %>
                  <%= recipe.name %>
                <% end %>
              </td>

              <td>
                <div>
                  <%= recipe.favorites.count %>
                  <span style="color:green;">❤︎</span>
                </div>
              </td>
            </tr>

            <tr>

            </tr>
          <% end %>
        </tbody>
      </table>

      <!--お気に入りのレシピ-->
      <table class="table table-sm border-bottom my-3">
        <thead>
          <tr><th>お気に入りのレシピ</th></tr>
        </thead>
        <tbody>
          <% @favorite_recipes.each do |recipe| %>

            <!--1列目=>レシピ名、エネルギー量-->
            <tr>
              <td>
                <%= link_to recipe_path(recipe.id), class: '' do %>
                  <%= recipe.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>