<div class="container">
  <%= flash[:notice] %>
  <div class="row">

  <!--日記-->
  <div class="col-sm-4">

  <!--ユーザーデータ-->
  <div>
    <div class="d-flex">
      <div>登録情報</div>
      <%= link_to "変更", customers_edit_path %>
    </div>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>名前</th>
          <td><%= current_customer.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= current_customer.email %></td>
        </tr><tr>
          <th>公開ステータス</th>
          <td><%= current_customer.is_published ? '公開' : '非公開' %></td>
        </tr>
      </tbody>
    </table>



  </div>
    <!--日記-->
    <div>
      <%= @date %>
    </div>

    <!--朝食-->
    <div>
      今日の朝食
      <!--<%= Settings.customer[:required_energy] %>-->
      <%= render "public/diaries/meals", meals: @breakfasts %>
    </div>

    <!--昼食-->
    <div>
      今日の昼食
      <%= render "public/diaries/meals", meals: @lunches %>
    </div>

    <!--夕食-->
    <div>
      今日の夕食
      <%= render "public/diaries/meals", meals: @dinners %>
    </div>

    <!--間食・その他-->
    <div>
      間食・その他
      <%= render "public/diaries/meals", meals: @others %>
    </div>

    <!--栄養グラフ-->
    <div>

      <%= @total_energy %><br>
      <%= @total_protein %><br>
      <%= @total_fat %><br>
      <%= @total_carb %><br>
      <%= @total_salt_equivalent %><br>


      <%= @chart_energy = @total_energy / Settings.customer[:required_energy] %><br>
      <%= @chart_protein = @total_protein / Settings.customer[:required_protein] %><br>
      <%= @chart_fat = @total_fat / Settings.customer[:required_fat] %><br>
      <%= @chart_carb = @total_carb / Settings.customer[:required_carb] %><br>
      <%= @chart_salt_equivalent = @total_salt_equivalent / Settings.customer[:required_salt_equivalent] %><br>





<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['カロリー', 'たんぱく質', '脂質', '炭水化物', '塩分'],
        datasets: [{
            label: '# of Votes',
            data: [<%= @chart_energy %>, <%= @chart_protein %>, <%= @chart_fat %>, <%= @chart_carb %>, <%= @chart_salt_equivalent %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>




    </div>
  </div>


  <div class="col-sm-4"></div>


  <div class="col-sm-4">
    <div>
      <!--自身の投稿一覧-->
      <table class="table">
        <tbody>
          <% @recipes.each do |recipe| %>
            <!--栄養素、値段の計算-->
            <div>
              <% recipe.recipe_details.each do |recipe_detail| %>
                <% @total_energy += recipe_detail.subtotal_energy %>
                <% @total_protein += recipe_detail.subtotal_protein %>
                <% @total_fat += recipe_detail.subtotal_fat %>
                <% @total_carb += recipe_detail.subtotal_carb %>
                <% @total_salt_equivalent += recipe_detail.subtotal_salt_equivalent %>
                <% @price = recipe_detail.food.prices.find_by(customer_id: current_customer.id) %>
                <% if @price %>
                  <% @total_price += @price.food_price * recipe_detail.amount / 100 %>
                <% end %>
              <% end %>
            </div>

            <!--1列目=>レシピ名、エネルギー量-->
            <tr>
              <td><%= recipe.name %><br>
                E:<%= @total_energy %>
                P:<%= @total_protein %>
                F:<%= @total_fat %>
                C:<%= @total_carb %>
              </td>
              <td><%= @total_price %>円</td>
            </tr>

            <tr>
              <td colspan="2">

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!--お気に入りのレシピ-->
      <table class="table">
        <tbody>
          <% @favorite_recipes.each do |recipe| %>
            <!--栄養素、値段の計算-->
            <div>
              <% recipe.recipe_details.each do |recipe_detail| %>
                <% @total_energy += recipe_detail.subtotal_energy %>
                <% @total_protein += recipe_detail.subtotal_protein %>
                <% @total_fat += recipe_detail.subtotal_fat %>
                <% @total_carb += recipe_detail.subtotal_carb %>
                <% @total_salt_equivalent += recipe_detail.subtotal_salt_equivalent %>
                <% @price = recipe_detail.food.prices.find_by(customer_id: current_customer.id) %>
                <% @total_price += @price.food_price * recipe_detail.amount / 100 %>
              <% end %>
            </div>

            <!--1列目=>レシピ名、エネルギー量-->
            <tr>
              <td><%= recipe.name %><br>
                E:<%= @total_energy %>
                P:<%= @total_protein %>
                F:<%= @total_fat %>
                C:<%= @total_carb %>
              </td>
              <td><%= @total_price %>円</td>
            </tr>

            <tr>
              <td colspan="2">

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>


    </div>


  </div>
  </div>
</div>
