<div class="row">

  <div class="col-sm">
    <h3>コメント一覧</h3>
    <table>
      <tbody>
        <tr>
          <th>投稿者</th>
          <th>食材</th>
          <th>コメントジャンル</th>
          <th>コメント</th>
        </tr>

        <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to admin_customer_path(comment.customer.id) do %>
                <%= comment.customer.name %>
              <% end %>
            </td>
            <td><%= comment.food.name %></td>
            <td><%= comment.comment_genre.name %></td>
            <td><%= comment.comment %></td>
            <td>
              <%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: 'btn btn-danger px-3' %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>