<h2>食材情報更新</h2>

<%= form_with model: @food, url: admin_food_path, method: :patch do |f| %>

  <div class="field">
    <%= f.label :name, "名前(必須)" %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :food_genre_id, "ジャンル" %><br/>
    <%= f.collection_select(:food_genre_id, @genres, :id, :name ) %>
  </div>

  <div class="field">
    <%= f.label :energy, "カロリー(必須)" %><br/>
    <%= f.text_field :energy, autofocus: true, autocomplete: "energy" %>kcal
  </div>

  <div class="field">
    <%= f.label :protein, "たんぱく質" %><br/>
    <%= f.text_field :protein, autofocus: true, autocomplete: "protein" %>g
  </div>

  <div class="field">
    <%= f.label :fat, "脂質" %><br/>
    <%= f.text_field :fat, autofocus: true, autocomplete: "fat" %>g
  </div>

  <div class="field">
    <%= f.label :carb, "炭水化物" %><br/>
    <%= f.text_field :carb, autofocus: true, autocomplete: "carb" %>g
  </div>

  <div class="field">
    <%= f.label :salt_equivalent, "塩分" %><br/>
    <%= f.text_field :salt_equivalent, autofocus: true, autocomplete: "salt_equivalent" %>g
  </div>

  <div class="field">
    <%= f.label :image, "写真" %><br/>
    <%= f.file_field :image, accept: "image/*", class:"w-100"  %>
  </div>


  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>