<div class="row">

  <div class="col-sm">
    <h3>食材一覧</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>食材名</th>
          <th>分類</th>
          <th>エネルギー</th>
          <th>たんぱく質</th>
          <th>脂質</th>
          <th>炭水化物</th>
          <th>塩分</th>
        </tr>

        <% @foods.each do |food| %>

          <tr>
            <td>
              <%= link_to admin_food_path(food.id) do %>
                <%= food.name %>
              <% end %>
            </td>
            <td><%= food.food_genre.name %></td>
            <td><%= food.energy %> kcal</td>
            <td><%= food.protein %> g</td>
            <td><%= food.fat %> g</td>
            <td><%= food.carb %> g</td>
            <td><%= food.salt_equivalent %> g</td>
            <td>
              <%= link_to "更新", edit_admin_food_path(food.id), class: 'btn btn-success px-3' %>
              <%= link_to "削除", admin_food_path(food.id), method: :delete, class: 'btn btn-danger px-3' %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>

  </div>
</div>