<div class="container">
    <h1>
      <%= @food.name %>
    </h1>
  <div class="row">

    <div class="col-6">
      <!--food_image-->
      <%= image_tag @food.get_image(540,500) %>

      <div class="row">
        <!--栄養素-->
        <div class="col-6">
          <table class="table table-bordered border-primary">
            <tr>
              <th>エネルギー : kcal</th>
              <td><%= @food.energy %></td>
            </tr>

            <tr>
              <th>たんぱく質</th>
              <td><%= @food.protein %></td>
            </tr>

            <tr>
              <th>脂質</th>
              <td><%= @food.fat %></td>
            </tr>

            <tr>
              <th>炭水化物</th>
              <td><%= @food.carb %></td>
            </tr>

            <tr>
              <th>食塩相当量</th>
              <td><%= @food.salt_equivalent %></td>
            </tr>
          </table>
        </div>

        <!--コメント一覧-->
        <div class="col-6">
          <% @comments.each do |comment| %>
            <div class="card m-2">
              <div class="card-body">
                <h5 class="card-title">
                  <%= comment.comment_genre.name %>
                </h5>

                <p class="card-text">
                  <%= comment.comment %>
                </p>

                <div class="card-title"></div>
                  <div class="card-link"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
