<h2 class="text-center mb-2"><%= @food.name %></h2>

<div class="row">

  <!--写真表示-->
  <div class="col-6">
    <%= image_tag @food.get_image(540,500) %>
  </div>

  <!--食材データ表示-->
  <div class="col-6">
    <table class="table table-sm table-bordered mx-auto" style="width: 250px;">
      <tr class="text-center">
        <th colspan="3">栄養素 / 100gあたり</th>
      </tr>

      <tr>
        <th class="text-center" style="width: 120px;">エネルギー</th>
        <td class="text-right" style="width: 80px;"><%= @food.energy %></td>
        <td style="width: 25px;">kcal</td>
      </tr>

      <tr>
        <th class="text-center">たんぱく質</th>
        <td class="text-right"><%= @food.protein %></td>
        <td>g</td>
      </tr>

      <tr>
        <th class="text-center">脂質</th>
        <td class="text-right"><%= @food.fat %></td>
        <td>g</td>
      </tr>

      <tr>
        <th class="text-center">炭水化物</th>
        <td class="text-right"><%= @food.carb %></td>
        <td>g</td>
      </tr>

      <tr>
        <th class="text-center">食塩相当量</th>
        <td class="text-right"><%= @food.salt_equivalent %></td>
        <td>g</td>
      </tr>

      <tr class="text-center">
        <td colspan="3">
          <%= link_to "更新", edit_admin_food_path(params[:id]), class: 'btn btn-success px-3' %>
        </td>
      </tr>
    </table>

    <div>

    </div>
  </div>
</div>

<!--コメント一覧-->
<div>
  <table class="table table-sm table-bordered mx-auto text-center">
    <tbody>
      <tr>
        <th>投稿者</th>

        <th>コメントジャンル</th>

        <th>コメント</th>

        <th></th>
      </tr>

      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.customer.name %></td>

          <td><%= comment.comment_genre.name %></td>

          <td><%= comment.comment %></td>

          <!--コメント削除-->
          <td>
            <%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: 'btn btn-danger px-3' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>