<% recipes.each do |recipe| %>
  <div class="card p-1 m-2 bg-recipe" style="width: 16rem;, height: 80rem;">
    <%= link_to recipe_path(recipe.id), class: 'text-decoration-none' do %>
    <!--写真表示-->
    <%= image_tag recipe.get_image(385,290), class: 'card-img-top' %>
    <div class="card-body">
      <!--レシピ名-->
      <h5 class="card-title">
        <%= recipe.name %>
      </h5>
    <% end %>
      <div>
        <% if recipe.customer.is_published == true %>
          <%= recipe.customer.name %>
        <% else %>
          名無し
        <% end %>
        さんの投稿
      </div>
      <i class="fas fa-tag"><%= recipe.tags.map(&:tag_name).join(', ') %></i>
        <!--いいね表示-->
        <div id="favorite_<%= recipe.id %>">
          <%= render "public/recipes/favorite", recipe: recipe %>
        </div>
        <!--レシピ本文-->
        <p class="card-text">

        </p>
      </div>
    </div>
  <% end %>
