<!--ワード検索-->
<div class="d-flex justify-content-center">
  <%= form_with url: recipes_path, method: :get, local: true, class: 'boards_searchForm' do |f|%>
    <div class="input-group">
      <%= f.text_field :keyword, value: @keyword, class: "form-control search-control", placeholder: "キーワードを入力" %>
        <span class="input-group-btn input-group-append">
          <%= button_tag type: "submit", class: "btn btn-secondary search-btn" do %>
            <i class="fas fa-search"></i> 検索</submit>
          <% end %>
        </span>
    </div>
  <% end %>
</div>

<!--タグ検索-->
<div>
  <% @tag_list.each do |list| %>
    <%= link_to list.tag_name, recipe_search_tag_path(tag_id: list.id) %>
    <%= "(#{list.recipes.count})" %>
    <br>
  <% end %>
</div>

<!--お気に入り(いいね)検索-->
<div>
  <%= link_to recipe_search_favorite_path do %>
    お気に入りのレシピ
  <% end %>
</div>

      <!--< %= select_tag :tag_id,-->
      <!--  options_from_collection_for_select(Tag.all, :id, :tag_type, params[:tag_id]),-->
      <!--    {-->
      <!--      prompt: "タグで絞り込み検索",-->
      <!--      onchange: "submit(this.form);"-->
      <!--    }-->
      <!--% >-->

