<h2 class="text-center">レシピ作成</h2>
<div class="row">
  <div class="col-lg-5">

    <!--まな板-->
    <%= render "public/recipes/foods", recipe_foods: @cutting_board_foods %>

    <!--レシピデータ-->
    <div>
      <!--合計値計算-->
      <% @cutting_board_foods.each do |recipe_detail| %>
        <% @total_energy += recipe_detail.subtotal_energy %>
        <% @total_protein += recipe_detail.subtotal_protein %>
        <% @total_fat += recipe_detail.subtotal_fat %>
        <% @total_carb += recipe_detail.subtotal_carb %>
        <% @total_salt_equivalent += recipe_detail.subtotal_salt_equivalent %>
        <% @price = recipe_detail.food.prices.find_by(customer_id: current_customer.id) %>
      <% end %>

      <!--データ一覧-->
      <%= render "public/recipes/data", recipe_foods: @cutting_board_foods, total_energy: @total_energy, total_protein: @total_protein, total_fat: @total_fat, total_carb: @total_carb, total_salt_equivalent: @total_salt_equivalent, total_price: @total_price, price_calc: @price_calc %>
    </div>
  </div>

  <div class="col-lg-7">
  <!--レシピ情報入力フォーム-->
  <div class="">
    <%= form_with model: @recipe, url: recipes_path do |f| %>
      <table class="table-sm mx-auto">
        <thead></thead>
        <tbody>
          <tr>
            <td style="width: 560px;">
              <h5 class="m-2">レシピ名</h5>
              <%= f.text_field :name, class: 'form-control border-dark w-75 mx-2' %>
            </td>
          </tr>

          <tr>
            <!--タグ情報入力-->
            <td>
              <h5 class="m-2">タグ設定</h5>
              <%= f.text_field :tag_name, class: 'form-control border-dark w-75 mx-2', placeholder: 'タグＡ、タグＢ、・・・' %>
            </td>
          </tr>

          <tr>
            <td>
              <h5 class="m-2">調理手順</h5>
              <%= f.text_area :process, class: 'form-control border-dark w-100 mx-2', rows: '5' %>
            </td>
          </tr>

          <tr>
            <td rows="3">
              <h5 class="m-2">コメント</h5>
              <%= f.text_area :comment, class: 'form-control border-dark w-100 mx-2', rows: '3' %>
            </td>
          </tr>

          <tr class="align-items-center">
            <td>
              <!--公開or非公開-->
              <h5 class="m-2">公開設定</h5>
              <div class="d-flex">
                <h5 class="mx-3">
                  <%= f.radio_button :is_published, :true %>
                  <%= f.label :is_published, "公開" %>
                </h5>

                <h5 class="mx-3">
                  <%= f.radio_button :is_published, :false, checked: true %>
                  <%= f.label :is_published, "非公開" %>
                </h5>
              </div>
            </td>
          </tr>

          <trr class="text-center">
            <td><%= f.submit 'レシピを登録する', class: 'btn px-3 btn-warning' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  </div>
</div>

<div class="row">


</div>