<div class="container">
  <!--headline-->
  <div><h2>まな板</h2></div>

  <!--message-->
  <div>さあ、あなただけの料理を作りましょう！</div>

  <!--まな板-->
  <table class="table">
    <% current_customer.cutting_board_foods.each do |cutting_board_food| %>
      <!--食材-->
      <tr>
        <!--食材名-->
        <td class="col-2"><%= cutting_board_food.food.name %></td>

        <!--分量-->
        <td class="col-8"><%= cutting_board_food.amount %> g</td>
      </tr>

      <!--栄養価計算-->
      <div>
        <% @total_energy += cutting_board_food.subtotal_energy %>
        <% @total_protein += cutting_board_food.subtotal_protein %>
        <% @total_fat += cutting_board_food.subtotal_fat %>
        <% @total_carb += cutting_board_food.subtotal_carb %>
        <% @total_salt_equivalent += cutting_board_food.subtotal_salt_equivalent %>
      </div>
    <% end %>
  </table>

  <!--栄養価-->
  <table>
    <tr>
      <th>カロリー</th>
      <td><%= @total_energy %> kcal</td>
    </tr>

    <tr>
      <th>たんぱく質</th>
      <td><%= @total_protein %> g</td>
    </tr>

    <tr>
      <th>脂質</th>
      <td><%= @total_fat %> g</td>
    </tr>

    <tr>
      <th>炭水化物</th>
      <td><%= @total_carb %> g</td>
    </tr>

    <tr>
      <th>塩分相当量</th>
      <td><%= @total_salt_equivalent %> g</td>
    </tr>
  </table>

  <!--レシピ情報入力-->

  <%= form_with model: @recipe, url: recipes_confirmation_path do |f| %>
    <div>
      <!--レシピ名-->
      <div>
        <%= f.label :name, "レシピ名" %>
        <%= f.text_field :name, class: '' %>
      </div>

      <!--調理手順-->
      <div>
        <%= f.label :process, "調理手順" %>
        <%= f.text_area :process, class: '' %>
      </div>

      <!--コメント-->
      <div>
        <%= f.label :comment, "コメント" %>
        <%= f.text_area :comment, class: '' %>
      </div>


      <!--送信-->
      <div>
        <%= f.submit '変更', class: 'btn px-3 btn-success' %>
      </div>
    </div>
  <% end %>

</div>