<div class="container">
  <div class="row">
    <!--検索フォーム-->
    <div class="col-sm-3">
      <!--キーワード検索-->
      <div class="m-2">
        <%= form_with url: foods_path, method: :get, local: true do |f|%>
          <%= render "layouts/search", f: f, keyword: @keyword %>
        <% end %>
      </div>
      <!--ジャンル検索-->
      <div class="my-3">
        <%= render 'genre', food_genres: @food_genres %>
      </div>
    </div>

    <div class="col-sm-9">
      <h1 class="text-center my-3"><%= @food.name %></h1>
      <div class="row">
        <div class="col-sm-8">
        <!--food_image-->
          <div class="mx-auto" style="width: 500px;"><%= image_tag @food.get_image(500,400) %></div>

        </div>
        <div class="col-sm-4">
          <table class="table table-sm border-bottom border-dark">
            <tr>
              <td class="text-center border-bottom border-dark", colspan="3">食材情報(100gあたり)</td>
            </tr>

            <tr>
              <th>エネルギー</th>
              <td><%= @food.energy %></td>
              <td><i>kcal</i></td>
            </tr>

            <tr>
              <th>たんぱく質</th>
              <td><%= @food.protein %></td>
              <td><i>g</i></td>
            </tr>

            <tr>
              <th>脂質</th>
              <td><%= @food.fat %></td>
              <td><i>g</i></td>
            </tr>

            <tr>
              <th>炭水化物</th>
              <td><%= @food.carb %></td>
              <td><i>g</i></td>
            </tr>

            <tr>
              <th>食塩相当量</th>
              <td><%= @food.salt_equivalent %></td>
              <td><i>g</i></td>
            </tr>

            <tr>
              <th>値段</th>
              <% if @price %>
                <td><%= @price.food_price %></td>
                <td>円</td>
              <% else %>
                <td class="text-center" colspan="2">登録されていません</td>
              <% end %>
            </tr>
          </table>
          
          <h5>値段を登録・更新する</h5>
          <div>
            <% if @price %>
              <%= form_with model: @price, url: food_prices_path(params[:id]), method: :patch do |f| %>
                <h4><%= f.label :food_price, "値段(100gあたり)" %></h4>
                <%= f.number_field :food_price, class: 'form-control border-dark w-75' %>
                <h4 class="">円</h4>
                <%= f.submit "値段を更新する", class: 'btn btn-success px-3' %>
              <% end %>
            <% else %>
              <%= form_with model: Price.new, url: food_prices_path(params[:id]) do |f| %>
                <div>
                  <%= f.hidden_field :food_id, :value => @food.id %>
                </div>
                <h4><%= f.label :food_price, "値段(100gあたり)" %></h4>
                <%= f.number_field :food_price, class: 'form-control border-dark w-75', :placeholder => "値段を入力してください" %>
                <h4 class="">円</h4>
                <%= f.submit "値段を登録する", class: 'btn btn-success px-3' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <%= form_with model: CuttingBoardFood.new, url: cutting_board_foods_path do |f| %>

          <%= f.hidden_field :food_id, :value => @food.id %>

          <div class="d-inline-flex align-items-center">
            <h4><%= f.label :amount, "分量" %></h4>
            <%= f.number_field :amount, class: 'form-control border-dark w-75', placeholder: '使用量を入力' %>
            <h4 class="">g</h4>
          </div>

          <div>
            <%= f.submit "まな板に乗せる", class: 'btn btn-success px-3' %>
          </div>
        <% end %>
      </div>

      <!--日記に記録する-->
      <div>
        <%= form_with model: Meal.new, url: meals_path, method: :post do |f| %>
          <%= f.hidden_field :food_id, :value => @food.id %>
          <%= f.hidden_field :energy, :value => @food.energy %>
          <%= f.hidden_field :protein, :value => @food.protein %>
          <%= f.hidden_field :fat, :value => @food.fat %>
          <%= f.hidden_field :carb, :value => @food.carb %>
          <%= f.hidden_field :salt_equivalent, :value => @food.salt_equivalent %>

          <div>
            <%= f.date_field :date, class: '' %>
          </div>

          <div>
            <%= f.label :time %>
            <%= f.select :time, Meal.times_i18n.keys.map {|k| [t("meals.times_i18n.#{k}"), k] },class: "mb-3 sm:mb-0 mr-9 border border-line-200 rounded-[3px] rounded-[3px] py-3 pl-6 w-52 h-12 font-bold" %>
          </div>

          <div class="d-inline-flex align-items-center">
            <h4><%= f.label :amount, "分量" %></h4>
            <%= f.number_field :amount, class: 'form-control border-dark w-75', placeholder: '使用量を入力' %>
            <h4 class="">g</h4>
          </div>

          <div>
            <%= f.submit "食事記録をつける", class: 'btn btn-success px-3' %>
          </div>
        <% end %>
      </div>

    <!--comment_form-->
    <div class="">
      <div>この食材について教えてください!!</div>

      <%= form_with model: [@food, @comment], url: food_comments_path(params[:id]) do |f| %>
        <div>
          <%= f.label :comment_genre_id, "質問を選んでください" %>

          <%= f.select :comment_genre_id, options_from_collection_for_select(CommentGenre.all, :id, :name) %>
        </div>

        <div><%= f.text_area :comment, placeholder: "答えを教えてください！" %></div>

        <div><%= f.submit '答えを送信する', class: 'btn btn-primary px-3' %></div>

      <% end %>
    </div>


  </div>
      <div class="col-6">


      <div class="row">
        <!--栄養素-->
        <div class="col-6">

        </div>

        <!--コメント一覧-->
        <div class="col-6">
          <% @comments.each do |comment| %>
            <div class="card m-2">
              <div class="card-body">
                <h5 class="card-title">
                  <%= comment.comment_genre.name %>
                </h5>

                <p class="card-text">
                  <%= comment.customer.name%><br>
                  <%= comment.comment %>
                </p>

                <div class="card-title"></div>
                  <div class="card-link"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>