<div class="container">
  <h1>
    <%= @customer.name %>
  </h1>

  <%= link_to "削除", admin_customer_path(params[:id]), method: :delete, class: 'btn btn-danger px-3' %>
  <div class="row">




  <!--コメント一覧-->
  <div>
    <table>
      <tbody>
        <% @customer.comments.each do |comment| %>
          <tr>
            <td>
              <%= comment.comment_genre.name %>
            </td>

            <td>
              <%= comment.customer.name %>
            </td>

            <td>
              <%= comment.comment %>
            </td>

            <td>
              <%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: 'btn btn-danger px-3' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
