<h2 class="text-center">会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path do |f| %>

  <%= render "public/shared/error_messages", resource: resource %>

  <table class="table-sm mx-auto">
    <tbody>
      <tr>
        <th>名前</th>
        <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>ユーザー公開設定</th>
        <td>
          <div>
            <%= f.radio_button :is_published, :true %>
            <%= f.label :is_published, "公開" %>

            <%= f.radio_button :is_published, :false, checked: true %>
            <%= f.label :is_published, "非公開" %>
          </div>
        </td>
      </tr>

      <tr>
        <th>
          パスワード
        </th>
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br>
            <em>※<%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="text-center" colspan="2">
          <%= f.submit "登録", class: 'btn btn-sm btn-primary' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<div class="text-center mt-5">
  すでに登録済みの方→
  <%= render "public/shared/links" %>
</div>