  <h2 class="text-center">まな板</h2>
  <!--まな板-->
  <table class="table  table-sm">
    <thead>
      <tr>
        <th>食材</th>
        <th>エネルギー</th>
        <th>分量</th>
      </tr>
    </thead>
    <tbody>
      <% cutting_board_foods.each do |cutting_board_food| %>
      <!--食材-->
      <tr>
        <td class=""><%= cutting_board_food.food.name %></td>
        <td class=""><%= cutting_board_food.subtotal_energy %> kcal</td>
        <td class="col-5">
          <%= form_with model: cutting_board_food, url: cutting_board_food_path(cutting_board_food.id), method: :patch do |f| %>
            <div class="d-flex">
              <%= f.number_field :amount, class: 'form-control border-dark w-25', placeholder: '1000' %>
              <h5 class="">g</h5>

              <!--変更、削除ボタン-->
              <div class="">
                <%= f.submit '変更', class: 'btn px-3 btn-success' %>

                <%= link_to "削除", cutting_board_food_path(cutting_board_food.id), method: :delete, data: { confirm: "本当に削除しますか？"}, class: 'btn btn-danger px-3' %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>

  <div class="d-flex">
    <!--まな板全削除-->
    <div class="mx-2">
      <%= link_to "削除する", cutting_board_foods_destroy_all_path, method: :delete, data: { confirm: "本当にすべて削除しますか？"}, class: 'btn btn-danger px-3' %>
    </div>

    <!--確認画面に進む-->
    <div class="mx-2">
      <%= link_to "食材を決定する", new_recipe_path, class: 'btn btn-primary px-3' %>
    </div>
  </div>
