<h3 class="text-center">食材一覧</h3>
<div class="table-responsive">
  <table class="table table-sm text-center mx-auto" style="width: 825px;">
    <thead class="">
      <tr>
        <th class="">食材名</th>
        <th class="" colspan="2">エネルギー</th>
        <th class="" colspan="2">たんぱく質</th>
        <th class="" colspan="2">脂質</th>
        <th class="" colspan="2">炭水化物</th>
        <th class="" colspan="2">塩分</th>
        <th class=""></th>
      </tr>
    </thead>

    <tbody class="text-truncate">
      <% foods.each do |food| %>
        <tr class="border-top">
          <td class="align-middle">
            <%= link_to food_path(food.id) do %>
              <%= food.name %>
            <% end %>
          </td>
          <td class="align-middle text-right"><%= food.energy %></td>
          <td class="align-middle">kcal</td>
          <td class="align-middle text-right"><%= food.protein %></td>
          <td class="align-middle">g</td>
          <td class="align-middle text-right"><%= food.fat %></td>
          <td class="align-middle">g</td>
          <td class="align-middle text-right"><%= food.carb %></td>
          <td class="align-middle">g</td>
          <td class="align-middle text-right"><%= food.salt_equivalent %></td>
          <td class="align-middle">g</td>
          <td class="text-center">
            <%= form_with model: CuttingBoardFood.new, url: cutting_board_foods_path do |f| %>
              <%= f.hidden_field :food_id, :value => food.id %>
              <div class="d-inline-flex align-items-center">

                <% if flash[:notice] %>
                  <p class="alert alert-success"><%= notice %></p>
                <% end %>

                <%= f.number_field :amount, class: 'form-control form-control-sm text-center m-2', style: 'width: 100px', placeholder: '使用量' %>g
                <%= f.submit "使う", class: 'btn btn-success btn-sm mx-2' %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>