<h3>食材一覧</h3>
<table class="table">
  <tbody class="text-truncate">
    <tr>
      <th>食材名</th>
      <th>分類</th>
      <th>エネルギー</th>
      <th>たんぱく質</th>
      <th>脂質</th>
      <th>炭水化物</th>
      <th>塩分</th>
    </tr>

    <% foods.each do |food| %>

      <tr>
        <td>
          <!--詳細-->
          <%= link_to food_path(food.id) do %>
            <%= food.name %>
          <% end %>
          <!--まな板に乗せる-->
          <%= form_with model: CuttingBoardFood.new, url: cutting_board_foods_path do |f| %>
            <%= f.hidden_field :food_id, :value => food.id %>
            <div class="d-inline-flex align-items-center">
              <h4><%= f.label :amount, "分量" %></h4>
              <%= f.number_field :amount, class: 'form-control border-dark w-75', placeholder: '使用量を入力' %>
              <h4 class="">g</h4>
            </div>
            <div>
              <%= f.submit "まな板に乗せる", class: 'btn btn-success px-3' %>
            </div>
          <% end %>
        </td>
        <td>
          <div class="text-truncate d-inline-block", style="max-width: 90px;">
            <%= food.food_genre.name %>
          </div>
        </td>
        <td><%= food.energy %> kcal</td>
        <td><%= food.protein %> g</td>
        <td><%= food.fat %> g</td>
        <td><%= food.carb %> g</td>
        <td><%= food.salt_equivalent %> g</td>
      </tr>
    <% end %>
  </tbody>
</table>