<h2 class="text-center">ログイン</h2>

<%= form_with model: @customer, url: new_customer_session_path do |f| %>

  <table class="table-sm mx-auto">
    <tbody>
      <tr>
        <th>メールアドレス</th>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>
          パスワード
        </th>
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>

      <tr>
        <td class="text-center" colspan="2">
          <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div class="text-center mt-5">
  会員登録がまだの方→
  <%= render "public/shared/links" %>
</div>
