<!DOCTYPE html>
<html>
  <head>
    <title>JisuiNikki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1497b7da49.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--header-->
    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark w-100">
        <div class="container">

          <!--アプリロゴ(ホームリンク)-->
          <a class="navbar-brand p-5px" href="/">みんなの自炊日記</a>

          <!--メニュー(ハンバーガー)-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>

          <!--メニュー(コンテンツ) => ログイン状態で変化-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <!--管理者ログイン時-->
              <% if admin_signed_in? %>

              <!--ユーザーログイン時-->
              <% elsif customer_signed_in? %>

                <!--マイページ-->
                <li class="nav-link px-4">
                  <%= link_to customer_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-calendar-alt"></i>&nbsp;My Page
                  <% end %>
                </li>

                <!--食材一覧-->
                <li class="nav-link px-4">
                  <%= link_to foods_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>

                    <i class="fas fa-drumstick-bite"></i>
                    <i class="fas fa-fish"></i>
                    &nbsp;Foods&nbsp;
                    <i class="fas fa-egg"></i>
                    <i class="fas fa-carrot"></i>

                  <% end %>
                </li>

                <!--食材登録-->
                <li class="nav-link px-4">
                  <%= link_to new_food_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>

                    <i class="fas fa-search"></i>&nbsp;Food Resistration&nbsp;<i class="far fa-lightbulb"></i>

                  <% end %>
                </li>

                <!--レシピ一覧-->
                <li class="nav-link px-4">
                  <%= link_to recipes_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-utensils"></i>&nbsp;Recipes
                  <% end %>
                </li>

                <!--まな板へ-->
                <li class="nav-link px-4">
                  <%= link_to cutting_board_foods_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-utensils"></i>&nbsp;Make Recipes
                  <% end %>
                </li>

                <!--ログアウト-->
                <li class="nav-link px-4">
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-sign-out-alt"></i>&nbsp;Log Out
                  <% end %>
                </li>



              <!--非ログイン時-->
              <% else %>

                <!--ゲストログイン-->
                <li class="nav-link p-8px">
                  <%= link_to guest_sign_in_path, method: :post, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-home"></i>&nbsp;ゲストログイン(閲覧用)
                  <% end %>
                </li>

                <!--会員登録-->
                <li class="nav-link p-8px">
                  <%= link_to new_customer_registration_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-home"></i>&nbsp;会員登録
                  <% end %>
                </li>

                <!--ログイン-->
                <li class="nav-link p-8px">
                  <%= link_to new_customer_session_path, class: 'd-flex align-items-center text-light text-decoration-none' do %>
                    <i class="fas fa-home"></i>&nbsp;ログイン
                  <% end %>
                </li>



              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>

    </footer>

  </body>
</html>
